[Unit]
Description=Rockpi PoE-FAN

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/bin/rockpi-poe.py start
ExecStop=/usr/bin/python3 -u /usr/bin/rockpi-poe.py stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
